pandas==2.2.3
spacy==3.8.3
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0.tar.gz
gradio==5.9.1
boto3==1.35.92
unstructured==0.16.12
unstructured[pdf]
unstructured[docx]
unstructured[pptx]
unstructured[html]
unstructured[text]
unstructured[xlsx]
unstructured[odt]
unstructured[jpg]
unstructured[msg]
Faker==22.2.0
presidio_analyzer==2.2.351
presidio_anonymizer==2.2.351
polars==1.19.0

